:root {
  --primary-background: brown;
  --text-color: rgb(219, 194, 161);
  --accent-color: #8b4513;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-size: cover;
  background-color: var(--primary-background);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.5rem;
}

header,
main,
footer {
  background-color: var(--primary-background);
  color: var(--text-color);
  text-align: center;
}

h1,
h3,
.established,
.flavor,
.sweet,
.address,
footer p,
.modal-header,
.modal-footer {
  font-family: "Georgia", "Times New Roman", Times, serif;
}

.menu {
  width: 80%;
  height: 100%;
  /* margin: 40px auto; */
  background-color: var(--text-color);
}

main {
  background-color: rgb(219, 194, 161);
  color: brown;
  text-align: center;
}

footer {
  background-color: brown;
  color: rgb(219, 194, 161);
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.established {
  font-style: italic;
  font-size: 1rem;
  display: inline-block;
}

.pic {
  width: 50px;
}

.line-top,
.line-bottom {
  border: #8b4513 1px solid;
}

.item p {
  display: inline-block;
  font-size: 18px;
}

.flavor,
.sweet {
  text-align: left;
  width: 75%;
  font-size: 1.2rem;
  display: inline-block;
}

h3 a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: brown;
}

h3 a:hover {
  font-size: 1.3rem;
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out 0.3s;
}

.address {
  font-size: 1rem;
}

footer p {
  /* margin: 0; */
  font-size: 1rem;
}

footer p a {
  text-decoration: none;
  font-size: 1rem;
}

footer p a:hover {
  text-decoration: underline;
  font-size: 1.1rem;
  transition: ease-in-out 0.3s;
  color: #b2640b;
  cursor: pointer;
}

.modal-header,
.modal-footer {
  background-color: rgb(219, 194, 161);
  color: brown;
}

footer a i {
  color: brown;
  font-size: 2rem;
}

footer a i:hover {
  cursor: pointer;
  font-size: 2.5rem;
  transition: ease-in-out 0.3s;
}

.modal-body {
  background-color: brown;
  font-size: 1.2rem;
}

.modal-body p {
  color: rgb(219, 194, 161);
  font-size: 1.2rem;
}

button.btn.btn-secondary,
button.close,
span {
  background-color: brown;
  border-color: brown;
  color: rgb(219, 194, 161);
  border: none;
}
