    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px;
      background: url('./beans.jpeg') center center fixed no-repeat;
      background-size: cover;
      background-color: #fff;
      color: brown;
    }

    .container {
      background-color: rgb(219, 194, 161);
      border-radius: 20px;
    }

    h1 {
      font-size: 48px;
      margin: 0 0 15px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .established {
      font-style: italic;
      font-size: 18px;
    }

    main {
      margin-top: -80px;
    }

    .menu {
      width: 80%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgb(219, 194, 161);
      border-radius: 20px;
    }

    hr {
      height: 2px;
      background-color: brown;
      border-color: brown;
    }

    .bottom-line {
      margin-top: 25px;
    }

    .item p {
      display: inline-block;
      margin: 5px 0;
      font-size: 18px;
    }

    .flavor,
    .dessert {
      text-align: left;
      width: 75%;
    }

    .price {
      text-align: center;
    }

    footer {
      font-size: 14px;
    }

    .address {
      margin-bottom: 24px;
      font-size: 18px;
    }

    .sweets {
      margin-top: 10px;
    }

    footer p a {
      color: brown;
      text-decoration: none;
      font-size: 1.4rem;
    }

    footer p a:hover {
      text-decoration: underline;
      font-size: 1.6rem;
      transition: ease-in-out 0.3s;
      color: #b2640b;
    }

    menu-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 200px;
      height: 200px;
    }
